
export("ge.convert.geneprot",
       "ge.convert.number",
       "ge.summary.data",
       "ge.color",
       "ge.na.ratio",
        "setwd_local",
        "ge.split",
        "ge.read",
        "ge.readtable",
        "ge.writetable",
        "NA_threshold_table",
        "ge.plot.density",
        "ge.remove.techrep",
        "ge.plot.techrep.correlation",
        "ge.plot.pool.correlation",
        "ge.plot.boxplot",
        "ge.plot.pca",
        "ge.plot.tsne",
        "ge.plot.umap",
        "ge.plot.volcano",
        "ge.plot.bar",
        "ge.plot.line",
        "ge.plot.alluvial",
        "ge.plot.vioplot",
        "ge.mfuzz.cselection",
        "ge.mfuzz.getresult",
        "ge.upset",
        "ge.plot.venn",
        "ge.plot.heatmap",
        "ge.plot.enrich",
        "auto_preprocess",
        "pep2prot")

import("readr",
        "plyr",
        "readxl",
        "stringr",
        "magrittr",
        "magrittr",
        "ggplot2",
        "BiocManager",
        "pheatmap",
        "RColorBrewer",
        "umap",
        "Rtsne",
        "vioplot")
